<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDB_API_KEY</key>
	<string>60f86181c2a78ad5bccc5ff4209c50a1</string>
	<key>TMDB_BASE_URL</key>
	<string>https://api.themoviedb.org/3</string>
	<key>TMDB_IMAGE_BASE_URL</key>
	<string>https://image.tmdb.org/t/p/</string>
	<key>APP_NAME</key>
	<string>SetFlix</string>
	<key>APP_VERSION</key>
	<string>1.0.0</string>
</dict>
</plist>
